.products-row {
    display: flex;
    padding-left: 180px;
    padding-top: 30px;
}

.product-title {
    padding-top: 100px;
    padding-left: 50px;
    font-size: 55px;
    font-weight: 700;
    color: #1e2c40;
    line-height: 65px;
}

.product-subtitle {
    padding-top: 20px;
    padding-left: 55px;
    font-size: 28px;
    color: #1e2c40;
    line-height: 28px;
    text-align: left;
}

.products-text-row {
    width: 700px;
    margin-right: -10px;
    width:100%;
    padding-left: 37%;
    padding-right: 10%;
}

.right-row-image {
    width: 750px;
    height: 233.77px;
    margin-left: 100px;
}

.nitg-mark {
    width:214.5px;
    height:214.5px;
    margin-left: 35px;
}

.software-nitg-mark {
    width: 253.5px;
    height: 253.5px;
    margin-left: 200px;
}

.right-products-image {
width: 750px;
height: 295.94px;
margin-left: 37%;
margin-bottom: 40px;
}

.product-container {
    display: flex;
}

.software-text-container {
    margin-top: 100px;
}

.product-right-column {
    margin-top: 5%;
    margin-left: 75px;
    width: 750px;
}

.software-titles {
    font-size: 35px;

}

.software-text {
    margin-top: 30px;
    margin-bottom: 50px;
}

.product-image {
    width: 750px;
    height: 320px;
    margin-bottom: 35px;
}

.product-left-column {
    margin-top: 50%;
}

.outsource-gif {
    width: 750px;
    height: 702.5px;
}

.consult-left-column {
    margin-top: 35%;
}

.consult-technology-image {
    width: 450px;
    height: 454px;
    margin-left: 17%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.consulting-parts-image {
    width: 450px;
    height: 540px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 17%;
}

