.carousel-container{
    height: 145px ;
    width: 436px ;
}

.home-carousel-image{
    height: 100px !important;
    width: 230px !important;
}

.carousel-car{
    width: 873px;
    margin-top: 50px;
}

.clients-title{
    margin-right: 15%;
    margin-bottom: 7%;
    text-align: center;
    line-height: 48px;
    letter-spacing: -1px;
    font-weight: 800;
    font-style: normal;
    color: #181818;
    font-size: 40px;
    opacity: 1;
}

.clients{
    margin-left: 23%;
    margin-right: 13%;
}