.about-main-title {
    font-size: 35px;
    text-align: left;
    font-weight: 900;
}

.about-head-container {
    padding-left: 100px;
    padding-right: 100px;
}

.about-us-right {
    padding-top: 70px;
}